<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Test</title>

    <!-- BEGIN BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- END BOOTSTRAP -->

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
                           integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
                           crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin="">
    </script>

    <meta name="viewport" content="width-device-width, initial-scale-1.0">    
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="../logic.js"></script>

  </head>

  <body>

    <h1>Welcome to Semantic Web Web</h1>
    <div id="map">
      <script>map()</script>
    </div>

    <div class="container">

      <div id="infoEstacion" style="display: none">
        <label for="nEstacion"></label>
        <span name=nEstacion id="nombreEstacion"></span>

        <br>
        <label for="nProvincia">Provinicia: </label>
        <span name=nProvincia id="nombreProvincia"></span>
        <br>
        <label for="nMunicipio">Municipio: </label>
        <span name=nMunicipio id="nombreMunicipio"></span>
        <br>
        <label for="numeroEstacion">Número de estación: </label>
        <span name=numeroEstacion id="numero"></span>
        <br>
        <label for="start">Seleccione la fecha deseada:</label>
        <input type="date" id="start" name="trip-start"
                                      value="2020-01-01"
                                      min="2020-01-01" max="2020-08-31">

        <button type="button" onClick="compuestos()">Buscar</button>

      </div>
      <br>
      <h4 id="titulo" style="display:none" for="fecha">Muestras recogidas el <span name=nfecha id="fecha"></span></h4>
      <div id="muestra" class="centrado" style="display: none">
        <div id="cuadrado" class="cuadro">

        </div>
      </div>
    </div>

  </body>
</html>
