.DS_Store
HandsOn/Group12/csv/Inventario_Fuentes2019.csv
HandsOn/Group12/readme.md
HandsOn/Group12/requirements/applicationRequirements.html
HandsOn/Group12/requirements/datasetRequirments.html
HandsOn/Group12/selfAssessmentHandsOn1.md
