<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Distance</title>
</head>
<body>
<div class="container text-center">
    <h1>Your nearest parking is in this address</h1>
    <h2>{{ parking }}</h2>
    <h2>{{ park_street }}</h2>
    <h2>The distance between your location and {{ park_street }} is:</h2>
    <h2>{{ actual_dist }} km</h2>
    <br>
</div>
</body>
</html>